<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngedev.thesisx">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ThesisApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thesisx">
        <activity
            android:name=".ui.detail.loan_detail.LoanDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ngedev.thesisx.ui.settings.EditUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.ngedev.thesisx.ui.settings.AdditionalSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.ngedev.thesisx.ui.settings.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.ngedev.thesisx.ui.form.LoanFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cupboard.CupBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.thesis_detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>